<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <style>
        .center_text {
            text-align: center;
            font-size: 20pt;
            margin: 5px;
        }

        .box {
            padding: 10px;
            width: 400px;
            text-align: center;
            border: black solid 2px;
        }

        .bold_text {
            font-weight: bold;
        }

        #button {
            width: 130px;
        }
    </style>
</head>

<body>
    <div class="box" id="app"">
        <input type=" text" ref="num1" v-model="state.num1" class="center_text">
        <div class="center_text bold_text">+</div>
        <input type="text" ref="num2" v-model="state.num2" class="center_text"><br>
        <button class="center_text" ref="button" @click="Add()">=</button>
        <div class="center_text" ref="result">{{state.result}}</div>
        <div>{{state.num1}} + {{state.num2}} = {{result}}</div>
    </div>
</body>
<script>
    const { createApp, reactive, computed } = Vue
    createApp({
        setup() {
            const state = reactive({
                num1: '1',
                num2: '1',
                result: 2
            });
            const result = computed(function () {
                return parseInt(state.num1) + parseInt(state.num2)
            })
            const Add = function () {
                state.result = parseInt(state.num1) + parseInt(state.num2);
            }
            return { state, Add, result }
        }
    }).mount('#app')
</script>

</html>